// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-color:#000;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.myBlack{
    background-color:#000;
}


.myGrey{
    background-color:#08101a;
}

.myDarkGrey{
    background-color:#090909;
}

.myTextGrey{
    color:#b3b3b3
}


.font-500{
    font-weight: 500;
}
.font-600{
    font-weight: 600;
}

.font-size-10{
    font-size: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-26{
    font-size: 26px;
}



body::-webkit-scrollbar, table::-webkit-scrollbar{
    width: 5px;
  }
  
body::-webkit-scrollbar-track, table::-webkit-scrollbar-track {
// background: rgb(83, 109, 255);
background-color: black;
border-radius: 5px;
}
  
body::-webkit-scrollbar-thumb, table::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #445061;
  }